// place your custom styles here
@font-face {
  font-family: 'Ma Shan Zheng';
  src: url('https://cdn.jsdelivr.net/gh/FlyingPig278/blog-assets/fonts/MaShanZheng-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}